sphinx>=7.0
myst_parser>=0.13
sphinx_copybutton
sphinx_autodoc_typehints
furo>=2023.08.17
myst_nb>=1.2.0
sphinx_book_theme>=1.1.4
sphinx_design>=0.6.1
matplotlib>=3.10.3
cirq>=1.5.0
ipywidgets>=3.0.15
stimcirq>=1.15.0
numpy>=2.3.0
holoviews>=1.21.0
matplotlib>=3.10.3
cirq>=1.5.0
ipywidgets>=3.0.15
stimcirq>=1.15.0
numpy>=2.3.0
holoviews>=1.21.0
jupyter>=1.1.0
